body {
    background-image: url('images/drums.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

button {
    background-color: #ee4540;
    position: relative;
    border: black;
    border-width: 2px;
    border-style: double;
    left: 13%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 155px;
    cursor: pointer;
    transition: all 110ms ease;
}


button:hover {
    background-color: black;
    color:  #ee4540;
    transform: scale(1.1);
}




h3 {
    font-family: 'Stardos Stencil', cursive;
    font-weight: lighter;
    font-size: .7rem;
}

/********************* CLASS SELECTORS ************************/

.title {
    margin: auto;
    text-align: center;
    font-size: 5.5rem;
    letter-spacing: 0.5rem;
    color: #f4ff61;
    font-family: 'Black Ops One', cursive;
    padding-top: 55px;
}

.drum {
    height: 83px;
    width: 100px;
}

.drum-key {
    font-size: 2rem;
    font-family: 'Stardos Stencil', cursive;
    color: white;
    font-weight: bolder;
    line-height: .05;
}

.pressed {
    background-color: black;
    color:  #ee4540;
    transform: scale(1.1);
}

/********************* ID SELECTORS ************************/
#page-container {
    position: relative;
    min-height: 100vh;
  }

#footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: smaller;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }